
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Oxygen&display=swap");*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: oxygen;
   background-image: linear-gradient(45deg, rgb(216, 235, 197) 30%, rgb(195, 232, 195) 60%);
}
header {
    background-color: #5b8104;
    height: 80px;
    width: 100vw;
    position: static;
    display: flex;
  }
  .header-elements {
    display: flex;
    width: 80%;
    margin: auto;
   
  }
  .logo {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: left;
    height: 100%;
    width: 40%;
   
  }
  .logo-image {
    width: 70px;
    height: 79px;
    border-radius: 20px;
  }
  .logo h1 {
    font-family: Agbalumo;
    margin-left: 10px;
    font-size: 40px;
    color: rgb(219, 228, 236);
  }
  .logo h1 span {
    color: rgb(199, 199, 236);
  }
  header .navigation {
    width: 60%;
    height: 100%;
  }
  header .navigation ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    width: 100%;
    margin: 30px auto;
    /* border: 1px solid; */
  }
  header .navigation ul li {
    margin: 0px 28px 28px;
  }
  header .navigation ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
  }
  header .navigation ul li a:hover {
    font-size: 19px;
    color: rgb(51, 50, 50);
  }
  .separator {
    width: 100vw;
    height: 30px;
    background-image: linear-gradient(60deg, black 80%, rgb(45, 45, 64) 20%);
  }

/* main section starts here */

.main{
    display: flex;
    width: 80%;
    margin:150px auto;
    background-color: whitesmoke;
    /* flex-direction: column; */
}


/* main section ends here */


.textbox{
    width: 50%;
    border-color: white;
    background-color: white;
}
.textbox h1{
font-size: 80px;
font-family: agbalumo;
line-height: 1;
margin: 10px 0px 0px 20px;
padding: 10px;
}
.textbox .p1 {
   margin-top:10px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: left;

}
.textbox .p1 span{
    color: rgb(102, 175, 28);
    font-weight: 700;
}
.contact-details{
    font-weight: 700;
    padding: 20px;
}
.contact-details span{
    font-weight: 500;
}

.form{
    display: flex;
    width: 60%;
    background-color: aliceblue;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
 
}

.form form{
    display: grid;
    width: 90%; 
   
    
}
.form form input{
    margin: 15px;
    border-radius: 1px;
    width: 100%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-style: dashed;

}
.form form label{

}
.form form input[name="F-name"]{
    width: 80%;
    height: 40px;

}
.form form input[name="email"]{
    width: 80%;
    height: 40px;
}

.form form input[name="subject"]{
width: 80%;
height: 25px;
}

#textarea{
   width: 90%;
   /* margin: auto; */
   margin: 10px;
   border-radius: 5px;
   
   border-top: 0;
   border-left: 0;
   border-right: 0;
 
}
button{
    width: 12%;
    height: 40px;
    margin: 10px ;
    background-color: rgb(102, 175, 28);
    color: white;
    border-radius: 5px;
   
}
/* media queries */

/* Media query for tablet */
@media only screen and ( min-width: 768px){
 
 
  header{
    width: 100%;
height: 75px;
  }
  .header-elements{
    width: 100%;
  }
  .logo{
    width: 40%;
    align-items: center;
    justify-content: center;
  }
  .logo-image{
height: 70px;
margin-top: 3px;
  }
  .logo h1{
    font-size: 25px;
  }
  header .navigation{
   width: 60%;
   /* border: 1px solid; */
  }
  .navigation ul{
    width: 100%;
    justify-content: center;
  }
  header .navigation ul li {
    margin: 0px 15px 15px;
  }
  header .navigation ul li a{
    font-size: 14px;
  }
  header .navigation ul li a:hover{
    font-size: 15px;
    font-weight: 700;
  }
  .separator{
    height: 20px;
  }
  #banner{
    height: 230px;
    width: 90%;
  }
}

/* media for tablet ends here */

/* Media for desktop begins here  */

@media only screen and (min-width:1200px){
  header {
    background-color: #5b8104;
    height: 80px;
    width: 100vw;
    position: static;
    display: flex;
  }
  .header-elements {
    display: flex;
    width: 80%;
    margin: auto;
   
  }
  .logo {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: left;
    height: 100%;
    width: 40%;
   
  }
  .logo-image {
    width: 70px;
    height: 79px;
    border-radius: 20px;
  }
  .logo h1 {
    font-family: Agbalumo;
    margin-left: 10px;
    font-size: 40px;
    color: rgb(219, 228, 236);
  }
  .logo h1 span {
    color: rgb(199, 199, 236);
  }
  header .navigation {
    width: 60%;
    height: 100%;
  }
  header .navigation ul {
    display: flex;
    list-style: none;
    text-decoration: none;
    width: 100%;
    margin: 30px auto;
    /* border: 1px solid; */
  }
  header .navigation ul li {
    margin: 0px 28px 28px;
  }
  header .navigation ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
  }
  header .navigation ul li a:hover {
    font-size: 19px;
    color: rgb(51, 50, 50);
  }
  .separator {
    width: 100vw;
    height: 30px;
    background-image: linear-gradient(60deg, black 80%, rgb(45, 45, 64) 20%);
}
.news-heading{
  width: 20%;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: auto;
  align-items: center;
  text-align: center;
}
}